.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: Arial, sans-serif;
  margin-top: 2rem;
  /* position: fixed;
  bottom: 0;
  padding: 2rem;
  z-index: 9999; */
}

.pagination-previous,
.pagination-next {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-decoration: none;
  font-size: 0.875rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pagination-previous:hover,
.pagination-next:hover {
  background-color: #efda1e9c;
  color: black;
  border-color: #ffe81f;
}

.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.pagination-link {
  display: inline-block;
  padding: 0.5em 1em;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 0.875rem;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pagination-link:hover {
  background-color: #efda1e9c;
  color: black;
  border-color: #ffe81f;
}

.pagination-link.is-current {
  background-color: rgba(255, 232, 31, 0.8);
  color: black;
  border-color: #ffe81f;
  pointer-events: none;
  box-shadow: 0 0 10px #ffe81f;
}

.pagination-previous.is-disable,
.pagination-next.is-disable {
  pointer-events: none;
  opacity: 0.5;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.2);
  cursor: not-allowed;
}
