@import url('https://fonts.cdnfonts.com/css/star-wars');

.container {
    color: #fff;
    font-family: Roboto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

body {
  min-height: 100vh;
  background-image: url('/assets/images/background/deathStar-wallpaper.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: backgroundPan 30s infinite linear; 
}

@keyframes backgroundPan {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap; /* Ajusta automáticamente los elementos en pantallas pequeñas */
  transition: transform 0.4s ease, opacity 0.4s ease; /* Suavizar el movimiento */
}

h1 {
  font-family: star;
}